// Place all the styles related to the torrents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
margin-bottom: 0px;
}
.tab-pane .panel-body {
padding: 0px;
}
.accordion-body .list-group-item {
background-color: #F0F0F0;
}
.list-group-item h5 {
    display: inline-block;
}
.list-group-item h4 {
    display: inline-block;
}
